:stylus
  body
    font-family: 'noto_sans_playing_cards'

  .huge
    font-size: 200px
    line-height: 1em
    padding: 0
    letter-spacing: -.02em
    overflow: hidden

  .spades, .clubs
    color: rgb(50, 50, 50)

  .hearts, .diamonds
    color: rgb(210, 50, 50)
